#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}
.modal {
  z-index: 1;
  display: grid;
  place-items: center;
  place-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 5px;
  background-color: black;
  grid-template-rows: 1fr 1fr;
  min-height: 200px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  border: 1px solid white;
}